.main-div{
    padding-top: 30px;
    max-width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.56);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap: 40px;
    padding-bottom: 48px;
}
.main-name{
    text-align: center;
    height: fit-content;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.main-name p{
    max-width: 680px;
}

@media (max-width:425px) {
    .main-div{
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
}